.footer--background-color{
    background-color: #191919;
}
.footer--link-color{
    color: #58C7E0;
}
footer a:hover{
    color: #F6B983;
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
}