
.Profile__Icon--Hour{
        font-size: 1.3rem;
padding-right: 0.3rem;
        margin-top: 0.2rem;
}

    .Profile__H4 {
        font-weight: 600;
        font-size: 1.3rem;
        margin-left: 0.5rem;
    }

// .wrapper {
//   width: 100%;
//   height: auto;
//   padding: 50px 20px;
//   padding-top: 100px;
//   display: flex;
//   background-image: linear-gradient(to right, #ff622d 20%, #fa9352);
//   @media screen and (max-width: 768px) {
//     height: auto;
//     padding-top: 100px;
//   }

// }

// .Editing__Wrapper {
//   width: 100%;
//   height: auto;
//   padding: 50px 20px;
//   padding-top: 100px;
//   display: flex;
//   background-image: linear-gradient(to right, #ff622d 20%, #fa9352);

//   @media screen and (max-width: 768px) {
//     height: auto;
//     padding-top: 100px;
//   }

// }

.profile-card__img {
    margin-bottom: 3rem;
    position: relative;
    background: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 0px 5px 50px 0px #ff622d, 0px 0px 0px 7px #ff622d;
    left: 7rem;
    top: 1rem;

    img {
      object-fit: cover;
      border-radius: 50%;
    }

  }

//   &__cnt {
//     margin-top: -35px;
//     text-align: center;
//     padding: 0 20px;
//     padding-bottom: 40px;
//     transition: all .3s;
//   }

//   &__name {
//     font-weight: 700;
//     font-size: 24px;
//     color: #6944ff;
//     margin-bottom: 15px;
//   }

//   &__txt {
//     font-size: 18px;
//     font-weight: 500;
//     color: #191919;

//   }

//   &-loc {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 18px;
//     font-weight: 600;

//     &__icon {
//       display: inline-flex;
//       font-size: 27px;
//       margin-right: 10px;
//       //color: #6944ff;
//     }

//   }

//   &-inf {
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//     align-items: flex-start;
//     margin-top: 35px;

//     &__item {
//       padding: 10px 35px;
//       min-width: 150px;

//       @media screen and (max-width: 768px) {
//         padding: 10px 20px;
//         min-width: 120px;
//       }

//     }

//     &__title {
//       font-weight: 700;
//       font-size: 27px;
//       //color: #6944ff;
//       color: #324e63;
//     }

//     &__txt {
//       font-weight: 500;
//       margin-top: 7px;
//     }

//   }
// }


.Profile__Menus {
  display: flex;
  padding: 1rem;
margin: 1rem;

}

@media (min-width: 40rem) {
  .Profile__Menus{
    width: 100%;
  }
}

@media (min-width: 56rem) {
  .Profile__Menus {
    width: 100%;
  }
}

.Profile__CardContainer{
  max-width: 1200px;
  margin: 0 auto;

  img {
    height: 7rem;
    width: 7rem;
    margin-top: 1.5rem;
}

}

.Profile__Card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
    margin: 1rem;
}

.editIcon{
        position: absolute;
    right: 26rem;
    z-index: 4;
}


%flex {
  display: flex;
  align-items: center;
}


.wrapper {
   margin: 0;
  @extend %flex;
  justify-content: center;
 background: linear-gradient(to right, #ff622d 20%, #fa9352) #ff622d;
   height: auto;
  min-height: -webkit-fill-available;
    overflow: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
}

button { 
  border: none; 
  background: none;
  cursor: pointer;
}

.task-manager {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 980px;
  height: auto;
  //max-height: 780px;
  background: #fff;
  border-radius: 4px;
  box-shadow:
  0 0.3px 2.2px rgba(0, 0, 0, 0.011),
  0 0.7px 5.3px rgba(0, 0, 0, 0.016),
  0 1.3px 10px rgba(0, 0, 0, 0.02),
  0 2.2px 17.9px rgba(0, 0, 0, 0.024),
  0 4.2px 33.4px rgba(0, 0, 0, 0.029),
  0 10px 80px rgba(0, 0, 0, 0.04);
  overflow: hidden;
}

.left-bar {
  background-color: #cacaca61;
  width: 330px;
  border-right: 1px solid #e3e7f7;
  position: relative;
}

.left-content { padding: 0; }

.item {
  @extend %flex;
  color: var(--main-color);
  margin-bottom: 14px;
  font-weight: 500;
  
  svg {
    width: 14px;
    height: 14px;
    color: currentcolor;
    margin-right: 10px;
  }
}

.category-list{
  margin-top: 50px;
  
  .item{ color: var(--secondary-color); }
} 

.actions {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #fe4d46;
  box-shadow: 14px 0 0 0 #fbc023, 28px 0 0 0 #7dd21f;
}

.circle-2 {
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #d5d7e3;
  box-shadow: -6px 0 0 0 #d5d7e3, 6px 0 0 0 #d5d7e3;
}

.right-bar {
  width: 320px;
  border-left: 1px solid #e3e7f7;
  display: flex;
  flex-direction: column;
  
  .header { 
    font-size: 20px; 
    color: var(--main-text-color);
    margin-left: 30px;
  }
}

.top-part {
  padding: 30px;
  @extend %flex; 
  align-self: flex-end;
  
  svg {
    width: 14px;
    height: 14px;
    color: var(--main-color);
    margin-right: 14px;
  }
  
  .count {
    font-size: 12px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: #623ce8;
    color: #fff;
    @extend %flex;
    justify-content: center;
  }
}

.right-content {
  padding: 10px 40px;
  overflow-y: auto;
  flex: 1;
}

.task-box {
  position: relative;
  border-radius: 12px;
  width: 100%;
  margin: 20px 0;
  padding: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 4px 0px rgba(235,235,235,1);
  
  &:hover {
    transform: scale(1.02);
  }
}

.time { margin-bottom: 6px; opacity: 0.4; font-size: 10px; }

.task-name { 
  font-size: 14px; 
  font-weight: 500;
  opacity: 0.6;
}

.yellow { 
  background-color: var(--box-color);
}

.blue { background-color: var(--box-color-2); }

.red { background-color: var(--box-color-3); }

.green { background-color: var(--box-color-4); }

.more-button {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #8e92a4;
  box-shadow: 0 -4px 0 0 #8e92a4, 0 4px 0 0 #8e92a4;
  opacity: 0.4;
  right: 20px;
  top: 30px;
  cursor: pointer;
}

.members {
  display: flex;
  margin-top: 14px;
  
  img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 4px;
    object-fit: cover;
  }
}

.page-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 40px 20px 0 20px;
  
  .header { 
    font-size: 26px; 
    color: var(--main-color); 
    margin-top: 30px;
  }
}

.content-categories {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.nav-item { display: none; }

.category { 
  font-weight: 500; 
  color: var(--secondary-color); 
  border-bottom: 1px solid #ddd;
  transition: .4s ease-in;
  padding: 20px 30px;
  cursor: pointer;
}

#opt-1:checked + label ,
#opt-2:checked +  label ,
#opt-3:checked +  label ,
#opt-4:checked +  label {
  color: var(--checkbox-color);
  border-bottom: 2px solid var(--checkbox-color);
}

.task-item { display: none; }

.tasks-wrapper {
  padding: 30px 0;
  flex: 1;
  overflow-y: auto;
  height: 100%;
  padding-right: 8px;
}

.task {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 16px;
  padding-left: 30px;
  color: var(--task-color);
  font-size: 13px;
  font-weight: 500;
  
  &:hover {
    transform: translatex(2px);
  }
  
  label {
    cursor: pointer;
  }
}

 label .label-text { position: relative; }

 label .label-text:before {
  content:'';
  position: absolute;
  width: 14px;
  height: 14px;
  border: 1px solid #ddd;
  border-radius: 2px;
  left: -24px;
  transition: .2s ease;
}

.task-item:checked + label .label-text:before {
  background-color: var(--checkbox-color);
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3E%3Cpolyline points='20 6 9 17 4 12'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  border: 1px solid var(--checkbox-color);
}

.tag {
  font-size: 10px;
  padding: 4px 8px;
  border-radius: 20px;
  
  &.approved {
    background-color: var(--tag-color-one);
    color: var(--tag-color-text-one);
  }
  
  &.progress {
    background-color: var(--tag-color-two);
    color: var(--tag-color-text-two);
  }
  
  &.review {
    background-color: var(--tag-color-three);
    color: var(--tag-color-text-three);
  }
  
  &.waiting {
    background-color: var(--tag-color-four);
    color: var(--tag-color-text-four);
  }
}

.upcoming { 
  border-bottom: 1px solid #ddd; 
  padding-bottom: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 900px) {
  .left-bar {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .task-manager {
    flex-direction: column;
    overflow-y: auto;
  }
  
  .right-bar, .page-content {
    width: 100%;
    display: block;
  }
  
  .tasks-wrapper { height: auto; }
}

@media screen and (max-width: 520px) {
  .page-content { padding: 40px 10px 0 10px; }
  
  .right-content { padding: 10px 16px; }
  
  .category { padding: 20px; }
}

.profile__drop ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;

    i{
        color: black;
    }
    }
.profile__drop ul:After {
    content: "";
    display:block;
    clear:both;
    }     
.profile__drop ul li {
    display:list-item;
    list-style: none;
    float:left;
    // background-color:#64abfb;
    }
 .profile__drop ul li i {
     font-size:25px;
     width:30px;
     } 
.profile__drop ul li a {
    display:block;
    padding:15px 30px;  
    color:#FFF;
    font-size:20px;
    text-decoration:none;
    text-align:center;
}

.profile__drop ul ul {
    display: none;
    position: absolute;
}
/* Display Dropdowns on Hover */
.profile__drop ul li:hover > ul {
    display:list-item;
}
/* Fisrt Tier Dropdown */
.profile__drop ul ul li {
    width:200px;
    float:none;
    position: relative;
    border-bottom:none;
}
.profile__drop ul ul li i {
    margin-right:10px;
    }
.profile__drop ul ul li a {
    padding:15px 20px;
    text-align:left;
    background: #cacaca;
    }